:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 3% auto;
}
  .detail-info__wrapper {
    display: flex;
    justify-content: center;
    width: 75%;
    background: #E5E5E5;
    box-shadow: 5px 10px 20px rgba(51, 51, 51, 0.25);
    margin: 0;
    padding: 0;
  }

  .detail-info__btn_back {
    width: 32px;
    height: 32px;
    background: #2F80ED;
    border-radius: 5px 0px 0px 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;

    &:hover {
      background: #27AE60;
    }
  }

  .detail-info__img {
    width: 50%;
    border-radius: 0px 0px 0px 5px;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .detail-info__item {
    width: 50%;
    min-height: 100%;
    border-radius: 0px 5px 5px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .detail-info__title-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .detail-info__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 50%;
  }

  .detail-info__item-day {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #828282;
  }

  .detail-info__description-container {
    margin: 20px 0;
  }

  .detail-info__description-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
  }

  .detail-info__item-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-align: justify;
  }

