<ul class="card__info-count">
  <li class="info-count__item">
    <img src="./assets/icons/viewed.svg" alt="icon view">
    <p>{{oneCard?.statistics?.viewCount}}</p>
  </li>
  <li class="info-count__item">
    <img src="./assets/icons/liked.svg" alt="icon like">
    <p>{{oneCard?.statistics?.likeCount}}</p>
  </li>
  <li class="info-count__item">
    <img src="./assets/icons/dislike.svg" alt="icon dislike">
    <p>{{oneCard?.statistics?.dislikeCount}}</p>
  </li>
  <li class="info-count__item">
    <img src="./assets/icons/favorite.svg" alt="icon copy">
    <p>{{oneCard?.statistics?.favoriteCount}}</p>
  </li>
</ul>
